table.dlssa, table.dlnotes {
    margin: 15px;
    border: 1px solid rgb(160, 210, 230);
}

table.dlssa th {
    text-align: center;
}

b.other {
    color: rgb(180, 180, 180);
}

b.flame {
    color: rgb(235, 45, 45);
}

b.water {
    color: rgb(15, 145, 225);
}

b.wind {
    color: rgb(0, 215, 115);
}

b.light {
    color: rgb(255, 180, 0);
}

b.shadow {
    color: rgb(170, 55, 225);
}