html {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    color: white;
    background-color: rgb(30, 35, 40);
    overflow: auto;
    scroll-behavior: smooth;
    line-height: 1.6;
}

body {
    margin: 0 15%;
}

article {
    margin-top: 15%;
}

footer {
    text-align: center;
    color: rgb(180, 180, 180);
    margin-top: 15%;
}

a {
    color: rgb(50, 160, 255);
    text-decoration: none;
}

a:hover:active {
    color: rgb(255, 160, 50);
}

a#social img:hover {
    filter: brightness(200%);
    transition: 0.3s;
}

button {
    font-family: inherit;
    font-size: 16px;
}

mark {
    background-color: rgb(0, 120, 215);
    color: white;
}

img:not(.gallery img, a#social img) {
    display: inline-block;
    margin: 15px;
    max-width: 100%;
}

img:not(a#social img) {
    pointer-events: none;
}

/* progress bar */
.progressbar {
    height: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
}

.progressbar .indicator {
    height: 100%;
    border-radius: 5px;
    background-color: rgb(0, 120, 215);
}

/* - - - - - - - - - */

/* tables */
table {
    max-width: 100%;
    background-color: rgb(45, 50, 55);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    text-align: left;
}

th,
td {
    vertical-align: baseline;
    padding: 0 5px;
}

th {
    padding-right: 15px;
}

table.transparent {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
}

table.transparent th,
table.transparent td {
    padding: 0 15px 0 0;
}

/* - - - - - - - - - */

/* custom headers */
.h1 {
    font-size: 2em;
    font-weight: bold;
}

.h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.h3 {
    font-size: 1.17em;
    font-weight: bold;
}

/* - - - - - - - - - */

/* indented text (notes, quotes, etc.) */
.textbox, .quote {
    padding: 15px;
}

.note, .quote {
    margin: 15px;
}

.quote {
    background-color: rgb(45, 50, 55);
    border-left: 5px solid rgb(160, 210, 230);
    font-style: italic;
}

/* - - - - - - - - - */

/* audioblock */
.audioblock {
    display: inline-block;
    background-color: rgb(45, 50, 55);
    border-width: 0px;
    color: white;
    min-height: 20px;
    min-width: 20px;
    border-radius: 5px;
    margin: 0.5em;
}
.audioblock:hover:active {
    background-color: rgb(160, 210, 230);
}

/* - - - - - - - - - */

/* popup on hover */
.tooltip {
    position: relative;
    display: inline-block;
    text-decoration: underline dotted white;

}

.tooltip .ttpopup {
    visibility: hidden;
    opacity: 0;
    width: max-content;
    max-width: 600px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -20px;
    background-color: rgb(45, 50, 55);
    color: white;
    border-radius: 10px;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    padding: 10px 15px 10px 15px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    transform: translate(-50%, -75%);
    transition: 0.3s;
    z-index: 1;
}

.tooltip:hover .ttpopup {
    visibility: visible;
    opacity: 1;
}

.tooltip .ttpopup::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(45, 50, 55) transparent transparent transparent;
}

/* - - - - - - - - - */

/* flexbox containers */
.flexbox {
    display: flex;
    align-items: flex-start;
}

.flexbox.column {
    flex-direction: column;
}

.flexbox.center,
.flexbox.column.center {
    align-items: center;
    justify-content: center;
}

.flexbox.center.horizontal {
    justify-content: flex-start;
}

/* frame (single image) / gallery (multiple images) */
.frame, .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 15px;
}

.gallery {
    margin: 0;
    padding-right: 0;
}

.gallery > * {
    margin-right: 15px;
}

/* - - - - - - - - - */

/* - - - - - - - - - */

/* navigation buttons */
.navbutton {
    background-color: rgb(45, 50, 55);
    border: 1px solid rgb(160, 210, 230);
    padding: 5px 10px;
    margin: 5px;
    text-align: center;
    color: white;
    border-radius: 5px;
}

.navbutton:hover {
    background-color: rgba(160, 210, 230, 0.4);
    transition: 0.3s;
}

.navbutton#active {
    background-color: rgb(160, 210, 230);
    transition: 0.3s;
}

.navbutton:hover:active {
    background-color: rgb(160, 210, 230);
    color: white;
}

/* - - - - - - - - - */

/* topbar */
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(10, 15, 15);
    z-index: 99;
}

.topbar a {
    display: block;
    text-align: center;
    color: white;
    font-size: 1.17em;
    width: 100%;
}

.topbar a:hover {
    font-weight: bold;
}

.topbar a:hover:active {
    color: white;
}

.topbar #active {
    font-weight: bold;
}

.dropdown {
    position: relative;
}

.ddcontent {
    display: none;
    position: absolute;
    background-color: rgb(10, 15, 15);
    width: 100%;
    z-index: 99;
}

.ddcontent a {
    display: block;
    color: white;
    margin: 10px 0;
}

.ddcontent a:hover {
    font-weight: bold;
}

.dropdown:hover .ddsource {
    font-weight: bold;
}

.dropdown:hover .ddcontent {
    display: block;
}

/* - - - - - - - - - */