#gamehistory>* {
    animation-name: reveal;
    animation-duration: 500ms;
    position: relative;
}

#choices>button {
    display: none;
}

#choices>button.active {
    display: inline-block;
}

@keyframes reveal {
    0% {
        left: -100%;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}