#gamehistory>* {
    animation-name: reveal;
    animation-duration: 500ms;
    position: relative;
}

#choices>button {
    display: none;
    transition-duration: 1000ms;
}

#choices>button.active {
    display: inline-block;
    animation-name: reveal;
    animation-duration: 500ms;
}

@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}