.content {
    scroll-behavior: smooth;
}

#gamehistory {
    width: 100%;
    height: 100%;
}

#gamehistory > * {
    animation-name: reveal;
    animation-duration: 500ms;
    position: relative;
}

a.button.indexgame {
    transition-duration: 1000ms;
}

a.button.indexgame.notusing {
    display: none;
}

a.button.indexgame.using {
    display: flex;
    animation-name: reveal;
    animation-duration: 500ms;
}

@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-aspect-ratio: 1) {
    .card > .actions {
        height: 14rem;
    }
}