* {
    font-family: "RocknRoll One", sans-serif;
}

html {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--white);
    line-height: 1.6;
}

code {
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    background-color: var(--dgray);
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 0 5px;
}