
/* - - - - - - - - - */

/* - - - - - - - - - */
/* elements */
/* - - - - - - - - - */

html {
    overflow: auto;
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
}

::selection {
    color: var(--white);
    background-color: var(--a_lightblue);
}

article {
    margin: 10% 15%;
    animation-name: article-slideup;
    animation-duration: 2000ms;
}

hr {
    border-color: var(--white);
}

/* - - - - - - - - - */

br {
    line-height: 1.6;
}

br.medium {
    line-height: 3.2;
}

br.big {
    line-height: 6.4;
}

/* - - - - - - - - - */

a {
    color: var(--a_strongblue);
    text-decoration: none;
    cursor: pointer;
    
}

a:hover:active:not(a.button) {
    color: var(--a_yellow);
}

/* - - - - - - - - - */

button,
button#active,
a.button,
a.button#active {
    transition: 300ms;
}

button,
a.button {
    font-size: inherit;
    color: inherit;
    text-align: center;
    background-color: var(--dgray);
    border: 1px solid var(--a_lightblue);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
}

button:hover,
a.button:hover {
    background-color: var(--buttonhover);
}

button:hover:active,
a.button:hover {
    transition: 100ms;
    background-color: var(--a_lightblue);
}

button#active,
a.button#active {
    background-color: var(--a_lightblue);
}

/* - - - - - - - - - */

img {
    pointer-events: none;
}

img:not(.gallery img) {
    display: inline-block;
    margin: 15px;
    max-width: 100%;
}

/* - - - - - - - - - */

table {
    max-width: 100%;
    background-color: var(--dgray);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 0 var(--shadow);
    text-align: left;
}

th,
td {
    vertical-align: baseline;
    padding: 0 5px;
}

th {
    padding-right: 15px;
}

table.transparent {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
}

table.transparent th,
table.transparent td {
    padding: 0 15px 0 0;
}

/* - - - - - - - - - */

/* - - - - - - - - - */
/* classes */
/* - - - - - - - - - */

/* flexbox containers and frames (single image) / galleries (multiple images) */
.flexbox,
.frame,
.gallery {
    display: flex;
    align-items: flex-start;
}

.flexbox.column {
    flex-direction: column;
}

.flexbox.center,
.flexbox.column.center,
.frame,
.gallery {
    align-items: center;
    justify-content: center;
}

.flexbox.center.horizontal {
    justify-content: flex-start;
}

.frame, .gallery {
    margin: 15px;
    padding: 15px;
}

.gallery {
    margin: 0;
    padding-right: 0;
}

.gallery>* {
    margin-right: 15px;
}

/* - - - - - - - - - */

/* header nav */
.header-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 90;
    pointer-events: none;
}

.header-navbtn {
    width: 15vh;
    height: 15vh;
    background-size: 100%;
    margin-right: 5px;
    padding: 0;
    pointer-events: auto;
}

.header-navbtn:last-child {
    margin-right: 0;
}

.header-navbtn#active {
    z-index: 90;
    cursor: pointer;
}

/* - - - - - - - - - */

/* footer */
.footer-box {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    color: var(--lgray);
    opacity: 0.3;
    transition-duration: 500ms;
    user-select: none;
}

.footer-box:hover {
    opacity: 0.6;
}

/* - - - - - - - - - */

/* custom headers */
.h1 {
    font-size: 2em;
    font-weight: bold;
}

.h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.h3 {
    font-size: 1.17em;
    font-weight: bold;
}

/* - - - - - - - - - */

/* indented text (notes, quotes, etc.) */
.textbox, .quote {
    padding: 15px;
}

.note, .quote {
    margin: 15px;
}

.quote {
    background-color: var(--dgray);
    border-left: 5px solid var(--a_lightblue);
    font-style: italic;
}

/* - - - - - - - - - */

/* tooltip (popup text on hover) */
.tooltip {
    position: relative;
    display: inline-block;
    text-decoration: underline dotted var(--white);
}

.tooltip .ttpopup {
    visibility: hidden;
    opacity: 0;
    width: max-content;
    max-width: 600px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -20px;
    background-color: var(--dgray);
    color: var(--white);
    border-radius: 10px;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    padding: 10px 15px 10px 15px;
    box-shadow: 5px 5px 0 var(--shadow);
    transform: translate(-50%, -75%);
    transition: 0.3s;
    z-index: 9;
}

.tooltip:hover .ttpopup {
    visibility: visible;
    opacity: 1;
}

.tooltip .ttpopup::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--dgray) transparent transparent transparent;
}

/* - - - - - - - - - */

/* progress bar */
.progressbar {
    height: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--white);
}

.progressbar .indicator {
    height: 100%;
    border-radius: 5px;
    background-color: var(--a_lightblue);
}

/* - - - - - - - - - */

/* - - - - - - - - - */
/* ids */
/* - - - - - - - - - */

#viewport {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -99;
    --vpdeg: 190deg;
    background-image: linear-gradient(var(--vpdeg), var(--bg1), var(--bg2));
}

/* - - - - - - - - - */

/* - - - - - - - - - */
/* animations */
/* - - - - - - - - - */

@keyframes article-slideup {
    0%, 25% {
        opacity: 0;
        margin-top: 25%;
    }

    75% {
        opacity: 1;
        margin-top: 10%;
    }
}

/* - - - - - - - - - */