#profile {
    background: linear-gradient(to bottom, orange 0, var(--a_yellow) 75%);
}

#name {
    top: 80px;
    padding: 8px 128px;
    padding-left: 48px;
    background-color: var(--a_blue);
    color: var(--white);
    border: 4px solid var(--black);
    border-left: none;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

#slides {
    bottom: 160px;
    height: 300px;
}

#slides .slideshow_content {
    height: 100%;
    width: 100%;
}

#slides .slideshow_content [class*="slideshow_"] {
    width: 100%;
}

#slides .slideshowslide_title {
    display: flex;
    align-items: center;
    position: relative;
    left: 16px;
    bottom: -24px;
    height: 44px;
    width: 320px;
    padding: 0 32px;
    background-color: var(--a_blue);
    color: var(--white);
    border: 4px solid var(--black);
    border-radius: 16px;
}

#slides .slideshowslide_content {
    height: 256px;
    padding: 32px 32px;
    padding-bottom: 24px;
    background: var(--white);
    border: 4px solid var(--black);
    border-right: none;
    border-left: none;
}

#slides .slideshowslide_content>div {
    position: relative;
    height: 100%;
    overflow: scroll;

}

#slides .slideshow_current.forward,
#slides .slideshow_previous {
    transform: translateX(-960px);
}

#slides .slideshow_current.backward,
#slides .slideshow_next {
    transform: translateX(960px);
}

#slides .slideshow_next.forward,
#slides .slideshow_previous.backward {
    transform: translateX(0);
}

#slides .slideshow_nav {
    bottom: 18px;
}