

/* at least 1080p */
@media only screen and not (max-width: 1079px) {
}

/* at least 720p */
@media only screen and not (max-width: 719px) {
    article * {
        max-width: 720px;
    }
}

/* smaller than 1080p */
@media only screen and (max-width: 1079px) {
}

/* smaller than 720p */
@media only screen and (max-width: 719px) {
    article * {
        max-width: 100%;
    }
}

/* #top : the highest nav */

#top {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 90;
}

#top > a {
    margin: 8px;
}

#top > a:first-child {
    margin-left: 0;
}
#top > a:last-child {
    margin-right: 0;
}

#top button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background: var(--a_blue);
    border: 4px solid var(--black);
    border-radius: 8px;
}

#top button * {
    position: relative;
}

/* at least 1080p */
@media only screen and not (max-width: 1079px) {
    #top {
        bottom: 8px;
    }

    #top button {
        height: 80px;
        width: 96px;
    }

    #top button img {
        top: -16px;
    }

    #top button p {
        bottom: -4px;
        font-size: 32px;
        text-shadow:
        4px 0 var(--black), 0 -4px var(--black), -4px 0 var(--black), 0 4px var(--black),
        3px 2px var(--black), 3px -2px var(--black), -3px 2px var(--black), -3px -2px var(--black),
        2px 3px var(--black), 2px -3px var(--black), -2px 3px var(--black), -2px -3px var(--black);
    }
}

/* at least 720p */
@media only screen and not (max-width: 719px) {
    #top {
        width: 720px;
    }
}

/* smaller than 1080p */
@media only screen and (max-width: 1079px) {
}

/* smaller than 720p */
@media only screen and (max-width: 719px) {
    #top {
        bottom: 32px;
        width: 100%;
    }

    #top button {
        height: 56px;
        width: 64px;
    }

    #top button img {
        top: -12px;
        height: 48px;
        width: 48px;
    }

    #top button p {
        bottom: -4px;
        font-size: 16px;
        text-shadow:
        3px 0 var(--black), 0 -3px var(--black), -3px 0 var(--black), 0 3px var(--black),
        3px 2px var(--black), 3px -2px var(--black), -3px 2px var(--black), -3px -2px var(--black),
        2px 3px var(--black), 2px -3px var(--black), -2px 3px var(--black), -2px -3px var(--black);
    }
}

/* --------- */

/* #contactsnav */

nav#contacts {
    position: absolute;
}

nav#contacts img {
    height: 48px;
}

#contacts_toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16px;
    right: 16px;
    height: 48px;
    width: 48px;
    background: var(--a_blue);
    border: 4px solid var(--black);
    border-radius: 8px;
}

#contacts_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    right: 16px;
    padding: 16px;
    background-color: var(--white);
    border: 4px solid var(--black);
    border-radius: 8px;
    box-shadow: 0 4px 8px 4px var(--shadow);
    opacity: 1;
    transform: scale(1);
    transform-origin: top right;
    transition-duration: 250ms;
}

#contacts_menu:not(.active) {
    opacity: 0;
    transform: scale(0.1);
    pointer-events: none;
}

#contacts_menu a {
    margin: 8px 0;
}

#contacts_menu a:first-child {
    margin-top: 0;
}

#contacts_menu a:last-child {
    margin-bottom: 0;
}

#contacts_menu button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 160px;
    padding: 0;
    line-height: 0;
    background: var(--a_blue);
    border: 4px solid var(--black);
    border-radius: 8px;
    color: var(--white);
}

#contacts_menu img {
    height: 24px;
    width: 24px;
}

#contacts_menu div {
    margin-left: 16px;
}

#contacts_shadow {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--shadow_dark);
    opacity: 1;
    transition-duration: 250ms;
}

#contacts_shadow:not(.active) {
    opacity: 0;
    pointer-events: none;
}

/* at least 1080p */
@media only screen and not (max-width: 1079px) {
}

/* at least 720p */
@media only screen and not (max-width: 719px) {
    #contacts,
    #contacts_shadow {
        width: 720px;
    }
}

/* smaller than 1080p */
@media only screen and (max-width: 1079px) {
}

/* smaller than 720p */
@media only screen and (max-width: 719px) {
    #contacts,
    #contacts_shadow {
        width: 100%;
    }
}

/* --------- */

/* slideshow widget */

.slideshow {
    width: 100%;
}

.slideshow_content {
    position: relative;
    overflow: hidden;
}

.slideshow_content>* {
    position: absolute;
}

.slideshow_current {
    transform: translateX(0);
}

.slideshow_current.forward,
.slideshow_current.backward,
.slideshow_next.forward,
.slideshow_previous.backward {
    transition-duration: 500ms;
    transition-delay: 500ms;
}

.slideshow_nav {
    position: relative;
    bottom: 10px;
    width: 320px;
}